basicauth==0.4.1
beautifulsoup4==4.9.3
colorlog==5.0.1
email_validator==1.1.2
html5lib==1.1
pathlib;python_version<'3.4'
python-dateutil==2.8.1
ratelimit==2.2.1
requests-file==1.5.1
ruamel.yaml==0.16.13;python_version<'3'
ruamel.yaml==0.17.4;python_version>='3'
six==1.15.0
tabulator[cchardet]==1.53.5
typing==3.7.4.3;python_version<'3.5'
