basicauth==0.4.1
beautifulsoup4==4.8.2
colorlog==4.1.0
email_validator==1.0.5
html5lib==1.0.1
psycopg2-binary==2.8.4
pyaml==19.12.0
#python-dateutil==2.8.1
python-dateutil@ https://github.com/mcarans/dateutil/raw/justforrelease/dist/python_dateutil-2.8.2.dev15%2Bgeb45e83-py2.py3-none-any.whl
ratelimit==2.2.1
six==1.13.0
sshtunnel==0.1.5
tabulator==1.31.2
typing==3.7.4.1
yamlloader==0.5.5
